
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    box-sizing: border-box;
    overflow: scroll;
  }


.container{
    width: 100%;
    margin: 0 20px;
    padding: 0 20px;
    
}

.description {
    text-align: center;
    margin: 90px 0px 60px 90px;
    display: flex;
    gap: 200px;
}
a ion-icon {
    font-size: 40px;
}


tbody{
    margin-top: 80px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 1px 0px 1px 5px;
    font-size: 15px;
    
}

table {
  width: 100%;
  border-radius: 12px;
  border-collapse: collapse;
  margin-bottom: 80px;
}

table td,
table th {
  border: 1px solid #ccc;
  height: 40px;
  padding: 0px 1px;
  text-align: center;
  font-size: 15px;
}


td{
    font-size: 15px;
    font-weight: 600;
}

table thead tr {
  background-color: rgb(245, 241, 241);
}

table tbody tr:nth-child(even) {
  background-color: white;
}

table tbody tr:hover {
  background-color: white;
}

td:nth-child(2) {
    background-color: rgb(225, 225, 176);
}
td:nth-child(5) {
    background-color: rgb(225, 225, 176);
}
td:nth-child(13) {
    background-color: rgb(225, 225, 176);
}
td:nth-child(21) {
    background-color: rgb(225, 225, 176);
}
td:nth-child(29) {
    background-color: rgb(225, 225, 176);
}

td:nth-child(6) {
    background-color: rgb(179, 203, 143);
}
td:nth-child(14) {
    background-color: rgb(179, 203, 143);
}
td:nth-child(22) {
    background-color: rgb(179, 203, 143);
}
td:nth-child(30) {
    background-color: rgb(179, 203, 143);
}

.vertikal{
    writing-mode: vertical-rl; transform: rotate(180deg);
}
 
.section-sub {
   display: flex;
   justify-content: space-between;
   margin: 30px 80px 80px 60px
}

button{
    width: 190px;
    height: 50px;
    border-radius: 12px;
    background: #07182E;
    cursor: pointer;
    color: white;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(63, 58, 191, 0.3);
    transition: 0.3s ease;
}
button h3{
    color: white;
    z-index: 3;
}
button::before{
    content: '';
    position: absolute;
    width: 40px;
    background-image: linear-gradient(180deg, rgb(0,183,255), rgb(255,48,255));
    height: 195px;
    animation: rotBGimg 5s linear infinite;
    transition: all 0.2s linear ;
    
}
@keyframes rotBGimg {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
button::after{
    content: "";
    position: absolute;
    background: #0f2f58;
    inset: 1px;
    border-radius: 12px;
  
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 7px 14px rgba(63, 58, 191, 0.4);
  }

  .sub-name input {
    background: linear-gradient(to bottom right, #f3f1f9, #e7e4f3);
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 15px;
    box-shadow: inset 3px 3px 5px 3px #c6c4da, inset -2px -2px 5px #ffffff;
    transition: 0.3s ease;
    outline: none;
    resize: none;
  }
  .search-data input,
  .search-data select {
    background: linear-gradient(to bottom right, #f3f1f9, #e7e4f3);
    border: none;
    border-radius: 12px;
    padding: 8px;
    font-size: 15px;
    box-shadow: inset 3px 3px 5px 3px #c6c4da, inset -2px -2px 5px #ffffff;
    transition: 0.3s ease;
    outline: none;
    resize: none;
    cursor: pointer;}

.form-input:focus{
  background-color: rgb(57, 56, 56);
}

textarea{
    width: 100%;
}

.form-input {
  padding: 1px 2px;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 98%;
  
  
}

.form-input:focus,
.form-textarea:focus {
  background-color: rgb(228, 238, 220);
}

.form-textarea {
  padding: 1px 2px;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 98%;
  min-height: 31.5px;
}
